#image-div {
  opacity: 0.6;
}

.services {
  background-color: #EFEFEF;
  border-radius: 95px 20px;
}

.fa-4x, .font-weight-light {
  color: #243665;
}

.fa-4x:hover, .font-weight-light:hover {
  color: #8CD8BD;
  text-decoration: none;
}

.list-group .list-group-item {
  background-color: #EDEDED;
  color: #4C4C4C;
}

h1, h2, h3, h4 {
  color: #4C4C4C;
}

.services-text {
  padding: 20px;
}

.services-text a {
  color: #243665;
}

.services-text a:hover {
  color: #8CD8BD;
  text-decoration: none;
}

.list-group-item-primary {
  background-color: #243665 !important;
}

.list-group-item-primary h4 {
  color: #fff;
}

@media (max-width: 992px) {
  .main-p h3 {font-size: 12px;}
}
